.theme-dark-blue .theme-container {
  --background: oklch(0.96 0.002 249.7);
  --foreground: oklch(0.14 0.011 249.7);
  --card: oklch(1 0.003 249.7);
  --card-foreground: oklch(0.14 0.011 249.7);
  --popover: oklch(0.99 0.02 249.7);
  --popover-foreground: oklch(0.14 0.011 249.7);
  --primary: oklch(0.55 0.143 249.7);
  --primary-foreground: oklch(0.98 0.011 249.7);
  --secondary: oklch(0.95 0.014 249.7);
  --secondary-foreground: oklch(0.14 0.011 249.7);
  --muted: oklch(0.94 0.006 249.7);
  --muted-foreground: oklch(0.4 0.0114 249.7);
  --accent: oklch(0.9 0.011 249.7);
  --accent-foreground: oklch(0.14 0.011 249.7);
  --destructive: oklch(0.55 0.22 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.87 0.001 249.7);
  --input: oklch(0.87 0.023 249.7);
  --ring: oklch(0.55 0.143 249.7);
  --radius: 0.5rem;
  --sidebar: oklch(0.96 0.002 249.7);
  --sidebar-foreground: oklch(0.14 0.011 249.7);
  --sidebar-primary: oklch(0.55 0.143 249.7);
  --sidebar-primary-foreground: oklch(0.98 0.011 249.7);
  --sidebar-accent: oklch(0.94 0.006 249.7);
  --sidebar-accent-foreground: oklch(0.14 0.011 249.7);
  --sidebar-border: oklch(0.87 0.001 249.7);
  --sidebar-ring: oklch(0.55 0.143 249.7);
  --chart-1: oklch(0.55 0.143 249.7);
  --chart-2: oklch(0.49 0.143 279.7);
  --chart-3: oklch(0.43 0.143 309.7);
  --chart-4: oklch(0.37 0.143 339.7);
  --chart-5: oklch(0.31 0.143 9.7);

  @variant dark {
    --background: oklch(0.09 0.023 249.7);
    --foreground: oklch(0.98 0.011 249.7);
    --card: oklch(0.2 0.001 249.7);
    --card-foreground: oklch(0.98 0.011 249.7);
    --popover: oklch(0.13 0.02 249.7);
    --popover-foreground: oklch(0.98 0.011 249.7);
    --primary: oklch(0.63 0.129 249.7);
    --primary-foreground: oklch(0.98 0.011 249.7);
    --secondary: oklch(0.22 0.043 249.7);
    --secondary-foreground: oklch(0.98 0.011 249.7);
    --muted: oklch(0.2 0.023 249.7);
    --muted-foreground: oklch(0.7 0.0114 249.7);
    --accent: oklch(0.25 0.072 249.7);
    --accent-foreground: oklch(0.98 0.011 249.7);
    --destructive: oklch(0.45 0.22 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.26 0.001 249.7);
    --input: oklch(0.4 0.001 249.7);
    --ring: oklch(0.63 0.129 249.7);
    --sidebar: oklch(0.09 0.023 249.7);
    --sidebar-foreground: oklch(0.98 0.011 249.7);
    --sidebar-primary: oklch(0.63 0.129 249.7);
    --sidebar-primary-foreground: oklch(0.98 0.011 249.7);
    --sidebar-accent: oklch(0.2 0.023 249.7);
    --sidebar-accent-foreground: oklch(0.98 0.011 249.7);
    --sidebar-border: oklch(0.26 0.001 249.7);
    --sidebar-ring: oklch(0.63 0.129 249.7);
    --chart-1: oklch(0.55 0.129 249.7);
    --chart-2: oklch(0.61 0.122 279.7);
    --chart-3: oklch(0.67 0.116 309.7);
    --chart-4: oklch(0.73 0.109 339.7);
    --chart-5: oklch(0.79 0.103 9.7);
  }
}

.theme-blue .theme-container {
  --background: oklch(0.96 0.002 234.56);
  --foreground: oklch(0.14 0.015 234.56);
  --card: oklch(1 0.004 234.56);
  --card-foreground: oklch(0.14 0.015 234.56);
  --popover: oklch(0.99 0.02 234.56);
  --popover-foreground: oklch(0.14 0.015 234.56);
  --primary: oklch(0.55 0.186 234.56);
  --primary-foreground: oklch(0.98 0.015 234.56);
  --secondary: oklch(0.95 0.019 234.56);
  --secondary-foreground: oklch(0.14 0.015 234.56);
  --muted: oklch(0.94 0.007 234.56);
  --muted-foreground: oklch(0.4 0.015 234.56);
  --accent: oklch(0.9 0.015 234.56);
  --accent-foreground: oklch(0.14 0.015 234.56);
  --destructive: oklch(0.55 0.22 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.87 0.002 234.56);
  --input: oklch(0.87 0.03 234.56);
  --ring: oklch(0.55 0.186 234.56);
  --radius: 0.5rem;
  --sidebar: oklch(0.96 0.002 234.56);
  --sidebar-foreground: oklch(0.14 0.015 234.56);
  --sidebar-primary: oklch(0.55 0.186 234.56);
  --sidebar-primary-foreground: oklch(0.98 0.015 234.56);
  --sidebar-accent: oklch(0.94 0.007 234.56);
  --sidebar-accent-foreground: oklch(0.14 0.015 234.56);
  --sidebar-border: oklch(0.87 0.002 234.56);
  --sidebar-ring: oklch(0.55 0.186 234.56);
  --chart-1: oklch(0.55 0.186 234.56);
  --chart-2: oklch(0.49 0.186 264.56);
  --chart-3: oklch(0.43 0.186 294.56);
  --chart-4: oklch(0.37 0.186 324.56);
  --chart-5: oklch(0.31 0.186 354.56);

  @variant dark {
    --background: oklch(0.09 0.03 234.56);
    --foreground: oklch(0.98 0.015 234.56);
    --card: oklch(0.2 0.002 234.56);
    --card-foreground: oklch(0.98 0.015 234.56);
    --popover: oklch(0.13 0.02 234.56);
    --popover-foreground: oklch(0.98 0.015 234.56);
    --primary: oklch(0.63 0.167 234.56);
    --primary-foreground: oklch(0.98 0.015 234.56);
    --secondary: oklch(0.22 0.056 234.56);
    --secondary-foreground: oklch(0.98 0.015 234.56);
    --muted: oklch(0.2 0.03 234.56);
    --muted-foreground: oklch(0.7 0.015 234.56);
    --accent: oklch(0.25 0.093 234.56);
    --accent-foreground: oklch(0.98 0.015 234.56);
    --destructive: oklch(0.45 0.22 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.26 0.002 234.56);
    --input: oklch(0.4 0.001 234.56);
    --ring: oklch(0.63 0.167 234.56);
    --sidebar: oklch(0.09 0.03 234.56);
    --sidebar-foreground: oklch(0.98 0.015 234.56);
    --sidebar-primary: oklch(0.63 0.167 234.56);
    --sidebar-primary-foreground: oklch(0.98 0.015 234.56);
    --sidebar-accent: oklch(0.2 0.03 234.56);
    --sidebar-accent-foreground: oklch(0.98 0.015 234.56);
    --sidebar-border: oklch(0.26 0.002 234.56);
    --sidebar-ring: oklch(0.63 0.167 234.56);
    --chart-1: oklch(0.55 0.167 234.56);
    --chart-2: oklch(0.61 0.159 264.56);
    --chart-3: oklch(0.67 0.151 294.56);
    --chart-4: oklch(0.73 0.142 324.56);
    --chart-5: oklch(0.79 0.134 354.56);
  }
}